
.section {
  margin-bottom: 1.5rem;
  display: grid;
  align-items: center;
  width: 400px;
}

.input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 7px;
  padding: 0.7rem 1rem;
  background-color: transparent;
  border: none;
  width: 100%;
  box-sizing: border-box;
  outline: 1px solid var(--line);
}

.input:focus {
  outline: 1px solid var(--line-active);
}

.input[type="submit"] {
  cursor: pointer;
}

.label {
  background-color: var(--bg);
  justify-self: start;
  transition-property: transform, padding, font-size;
  transition-duration: 0.3s;
  margin: 0 1rem;
  pointer-events: none;
}

.label,
.input {
  grid-column-start: 1;
  grid-row-start: 1;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
  transform: translateY(-124%);
  font-size: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.section ::placeholder {
  color: transparent;
}
